@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html>

<head>
    <title>Record Clearance Home</title>
    <style>
    </style>

</head>
<body>
    <p>
        <a href="FAQ.html">FAQs</a> <br>
        <a href="blog.html">Blog</a> <br>
        <a href="forms.html">All Forms</a>
    </p>
</body>
</html>
